.home-container {
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background: linear-gradient(135deg, #000000, #0e0349); 
}
.hero{
  text-align: center;
}
.hero h1 {
  font-size: 3rem;
  color: whitesmoke;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ffffffa9;
}

.hero a {
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  background-color: #060414;
  color: #ffffffa9;
  text-decoration: none;
}

.hero a:hover {
  background-color: #1a141400;
  color: whitesmoke;
}