.nav-link {
    transition: color 0.3s ease-in-out;
    color: white !important;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    color: white !important;
  }
  
  .navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(0, 0, 0);

  }